<head>
        <title> Eli Mayberry Website</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
    <body>
        <table>
        <h1>Blog!</h1>
        <p>
        <p><%= link_to "marketplace","/"%></p> 
        <p><%= link_to "team","/team"%></p> 
       </p>
 
    </body>

    <hr/>
    <ul>
    <% @blog.each do |blog| %>
    <li><u><%= blog.name %></u>:&emsp;<%= blog.post %></li>
    <%end%>
    </ul>
    <hr/>
    <form action= '/post' method = 'POST'>
        <input name='name' type='text' placeholder='Name'>
        <input name='post' type='numtextber' placeholder='Write post here'>
        <input type ='submit'>
    </form> 




    
    
    

</html>