<head>
<style>
div {
  background-color: rgb(205, 141, 141);
  width: 300px;
  border: 15px solid rgb(141, 140, 179);
  padding: 50px;
  margin: 20px;
}
</style>
</head>
<body>
    <h1>team</h1>
        <p>
        <p><%= link_to "marketplace","/"%></p> 
        <p><%= link_to "blog","/blog"%></p> 
       </p>

<h2> Rick </h2>

<div>Rick is the smartest man in the universe and a valuable member of the team
    <img src="assets/rick.jpg" width="80" height="80" alt="Photo of 3 cats">
</div>

</body>

  </style>
  </head>
  <body>
  
  <h2> Morty </h2>
  
  <div>Morty is able to bring in the young kids with his insight
      <img src="assets/morty.jpg" width="80" height="80" alt="Photo of 3 cats">
  </div>
  
  </body>

</style>
</head>
<body>

<h2> Jerry</h2>

<div>Jerry brings everyone coffee
    <img src="assets/Jerry.jpg" width="80" height="80" alt="Photo of 3 cats">
</div>

</body>